[Desktop Entry]
Type=Application
Name=MetaEditor 5
MimeType=application/x-wine-extension-mq5;
Exec=env WINEPREFIX="/config/.wine" wine start /ProgIDOpen MQL5.File %f
NoDisplay=true
StartupNotify=true
Icon=3F42_metaeditor64.0
